#what .items{
    display:block;
    padding:1rem;
}

@media(max-width:580px){
     #navbar{
     flex-direction: column;
     align-items:center;}
     
     #navbar ul{
         margin-top: 1rem;
     }
     #navbar ul li{
         padding:0 0.7rem;
     }
}
#showcase .showcase-content{
    top:110px;
    }
#showcase .heading{
    margin-top:-100px;
}
#who{
    display:block;
    height:auto;
}
#who .who-img{
    display:none;
}
#who .who-info{
    width:100%;
}
#contact{
    flex-direction: column;
}
#contact .map{
    height:250px;
    border-top: 3px solid #333;
}
#clients .items div:last-child{
    display:none;  
}
#clients .items div{
    width:70%;
}
